.login-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f7f9fc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-container button {
  padding: 10px 20px;
  border: none;
  background-color: #27ae60;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #1e8449;
}

.logout-button{
  padding: 10px 20px;
  border: none;
  background-color: #e74c3c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
} 